<div class="container">
  <div class="row">
  <%= link_to "add mix", new_mix_path(@mix) %>
  <ul>
    <% @mixes.each do |mix| %>
      <li>
        <%= link_to mix.name, "https://#{mix.url}" %>
        <% mix.tag_list.each do |tag| %>
          <%= link_to tag, mixes_path(tag: tag), :class => "btn btn-info" %>
        <% end %>
        <%= link_to 'delete', mix_path(mix), method: :delete, :class => "btn btn-warning" %>
        <%= link_to 'update', edit_mix_path(mix), :class => "btn btn-success" %>
      <li>
    <% end %>
  </ul>
  </div>
</div>
