<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center">Sign In</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit 'Sign In', class: 'form-control btn btn-dark' %>
      <% end %>
      <p class='text-center'><%= render "devise/shared/links" %></p>
    </div>
  </div>
</div>
