<!DOCTYPE html>
<html>
  <head>
    <title>Music Mix Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <%= link_to "add mix", new_mix_path(@mix) %>
        <%= link_to "view all mixes", mixes_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
